repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.9
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
        exclude: (^(skyrl-agent)/.*)$

  # Black needs to be ran after ruff with --fix
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black

  # Detect secrets and sensitive information
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
